<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zst.configcenter.client.remote.ZstConfigServiceImpl" level="debug" />
    <logger name="com.zst.configcenter.client.processor.SpringValueProcessor" level="debug" />
    <logger name="com.zst.configcenter.client.remote.RemoteServerClient" level="debug" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>